@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: black;
  font-family: 'Noto Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

